img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transition: all 1.5s ease;
  object-fit: cover;
}

.navbar {
  height: 4rem;
}

.navbar span {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
}

.container {
  --cols: 3;
  --gap: 1rem;
  display: flex;
  gap: var(--gap) var(--gap);
  flex-wrap: wrap;
  margin-top: 5rem;
  width: 100vw;
}

.container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(
    100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1)
  );
  aspect-ratio: 1/1;
}

.hidden {
  display: none;
}

.picture {
  width: 100%;
  height: 100%;
}

.picture-title {
  display: none;
  position: absolute;
  color: white;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 1.5s;
}

.picture-container:hover span {
  display: inline-block;
}

.picture-container:hover img {
  cursor: pointer;
  filter: brightness(60%);
  transition: all 1.5s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .container {
    --cols: 2;
  }
}

@media (max-width: 750px) {
  .container {
    --cols: 1;
  }
}
